@import "tailwindcss";

@theme {
    --font-quicksand: "Quicksand", sans-serif;
    --animate-scroll-left-partners: scrollLeft 10s linear infinite;
    --animate-bounce-y-service: bounceY 2s infinite;
    --animate-bounce-x-service: bounceX 3s infinite;
    --animate-bounce-in-up-scroll-to-top-button: bounceInUp 0.75s ease-in;
    --animate-bounce-out-down-scroll-to-top-button: bounceOutDown 1s ease-in;
    --animate-appear-element: appear 1s linear forwards;
    --animate-slide-in-fwd-center-element: slideInFwdCenter 1s linear forwards;

    @keyframes scrollLeft {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @keyframes bounceY {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(0.25rem);
        }
    }
    @keyframes bounceX {
        0%,
        100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(0.5rem);
        }
    }
    @keyframes bounceInUp {
        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        from {
            opacity: 0;
            transform: translate3d(0, 187.5rem, 0) scaleY(5);
        }
        60% {
            opacity: 1;
            transform: translate3d(0, -1.25rem, 0) scaleY(0.9);
        }
        75% {
            transform: translate3d(0, 0.625rem, 0) scaleY(0.95);
        }
        90% {
            transform: translate3d(0, -0.313rem, 0) scaleY(0.985);
        }
        to {
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes bounceOutDown {
        20% {
            transform: translate3d(0, 0.625rem, 0) scaleY(0.985);
        }
        40%,
        45% {
            opacity: 1;
            transform: translate3d(0, -1.25rem, 0) scaleY(0.9);
        }
        to {
            opacity: 0;
            transform: translate3d(0, 125rem, 0) scaleY(3);
        }
    }
    @keyframes appear {
        from {
            opacity: 0;
            clip-path: inset(100% 100% 0 0);
        }
        to {
            opacity: 1;
            clip-path: inset(0 0 0 0);
        }
    }
    @keyframes slideInFwdCenter {
        0% {
            transform: scale(0) translate(-100%, 100%);
            opacity: 0;
        }
        100% {
            transform: scale(1) translate(0, 0);
            opacity: 1;
        }
    }
}
